footer {
    padding: 100px;
  }

  .icon {
      height: 5%;
      width: 5%;
      float: left;    
      margin: 0 15px 0 0;
  }

 
  span {
      color: #111111;
      font-size:medium;
  }
  /*luis ende */